sample_id	condition	biological_replicate	technical_replicate	batch	input_mode	input_source	source_path	platform	gene_id_type	reference_version	group_id	timepoint	tissue	chemistry	run_main	run_velocity	run_scenic	modality	section_id	chip_id	bundle_layout	image_path	run_spatial	run_deconv	run_joint	notes
scrna_syf_1	syf	syf_1	1	batch1	matrix	init_project	raw/external_matrix_source/scrna_syf_1	generic_mex	auto	custom_reference	syf			auto	yes	auto	yes	scrna					no	no	no
scrna_f5_1	f5	f5_1	1	batch1	matrix	init_project	raw/external_matrix_source/scrna_f5_1	generic_mex	auto	custom_reference	f5			auto	yes	auto	yes	scrna					no	no	no
